.App {
  margin: 60px auto;
  max-width: 800px;
}
.container {
  max-width: 960px;
  width: 100%;
}
.weather {
  padding: 40px;
  border-radius: 16px;
  color: black;
  background: plum;
}
.input-city {
  padding-bottom: 10px;
}
