.App {
  margin: 60px auto;
  max-width: 800px;
}
.container {
  max-width: 960px;
  width: 100%;
}
.weather {
  padding: 40px;
  border-radius: 16px;
  color: black;
  background: plum;
}
.input-city {
  padding-bottom: 10px;
}
.weather-temperature,
.active {
  color: black;
  cursor: default;
}

.weather-temperature,
.active:hover {
  text-decoration: none;
}
#icon {
  margin-top: 20px;
  height: 64px;
  width: 64px;
}
#today-temp {
  font-size: 70px;
  margin-left: 10px;
}
#units {
  position: relative;
  top: -34px;
  line-height: 1;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
